/*body {
	background-color: #282828;*/
	/*background-image: url('../img/background-form-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;	*/
/*}*/



/*.container {
}

.banner {
	height: 100px;
	margin-bottom: 20px
	margin: 0 auto;
	background-color: red;
}

p {
	color: #ffffff;
	font-size: 2em;
}

form{*/
	/*background-color: rgba(255, 255, 255, 0.8)*/; 
/*	border-radius: 20px;
}*/

/*#form-left{
	background-color: purple darken-4;
}

#form-right{
	background-image: url('../img/background-form.jpg');
	height: 600px;
}*/